#Ecommerce
{
    animation-name: entrata-da-sinistra;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#paragrafo-just
{
    opacity: 0;
}

#paragrafo-presto
{
    opacity: 0;
}


@keyframes entrata-da-sinistra
{
    from
    {
        opacity: 0;
        transform: translateX(-200px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

#paragrafo-world
{
    animation-name: entrata-da-destra;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#paragrafo-just
{
    animation-name: entrata-da-destra;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#paragrafo-presto
{
    animation-name: entrata-da-destra;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;  
}

@keyframes entrata-da-destra
{
    from
    {
        opacity: 0;
        transform: translateX(200px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}