/* CSS rules to specify families */

body
{
    font-family: 'Josefin Sans', sans-serif;
}

.icona-dato
{
    font-size: 2vw;
}

.dettaglio-dato
{
    font-size: 1.5vw;
}

.bree
{
    font-family: 'Bree Serif', serif;
}

.josefin
{
    font-family: 'Josefin Sans', sans-serif;
}

.kanit
{
    font-family: 'Kanit', sans-serif;
}

.nunito
{
    font-family: 'Nunito', sans-serif;
}

.righteous
{
    font-family: 'Righteous', cursive;
}

.syncopate
{
    font-family: 'Syncopate', sans-serif;
}

.zenloop
{
    font-family: 'Zen Loop', cursive;
}


.josefin1
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    font-weight: bolder;
}

.josefin2
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}

.josefin2-box
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
}

.josefin3
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.josefin3
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-weight: bolder;
}

.josefin4
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
}


.josefin2l
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    font-weight: lighter;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .josefin1 
    {
      font-size: 4vw;
    }

    .josefin2
    {
        font-size: 3vw;   
    }

    .josefin2l
    {
      font-size: 3vw;
    }

  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .josefin1 
    {
      font-size: 8vw;
    }

    .josefin2
    {
        padding-top: 15px;
        font-size: 6vw;   
    }

    .josefin2l
    {   
     font-size: 6vw;
    }

    .icona-dato
    {
        font-size: 4.5vw;
    }
    
    .dettaglio-dato
    {
        font-size: 4.5vw;
    }
    
    .josefin2-box
    {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 6vw;
    }

  }

