
@media only screen and (min-width: 1000px) 
{
    #tasto-aggiungi-grande 
    {
      display: block !important;
    }
    #tasto-aggiungi-piccolo
    {
        display: none !important;
    }
}


@media only screen and (max-width: 1000px) 
{
    #tasto-aggiungi-grande 
    {
      display: none !important;
    }
    #tasto-aggiungi-piccolo
    {
        display: block !important;
    }
    
    #paragrafo_testimonial
    {
        font-size: 1rem !important;
    }


}


@media only screen and (max-width: 866px) 
{
    #titolo-cartello-work
    {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 782px) 
{
    #Onboarding
    {
        display: none;
    }

    #box-carosello-dettaglio
    {
        border-right: 0px !important;
        border-bottom: 1px solid var(--persian-green);
        padding-bottom: 15px !important;
    }

}



@media only screen and (max-width: 767px) 
{
    #navbarSupportedContent
    {
        box-shadow: 5px 5px 5px black;
    }

}



@media only screen and (max-width: 767px) 
{
    #tasto-aggiungi-grande 
    {
      display: block !important;
    }
    #tasto-aggiungi-piccolo
    {
        display: none !important;
    }

    #box-testimonianze-large
    {
        display: none;
    }

    #box-testimonianze-small
    {
        display: block;
    }

    #tasto-aggiungi-grande
    {
        width: 100%;
    }

    #item-ricerca-dati
    {
        border-left: none !important;
        border-top: 1px solid var(--persian-green);
    }

}

@media only screen and (min-width: 767px) 
{
    #box-testimonianze-large
    {
        display: block;
    }

    #box-testimonianze-small
    {
        display: none;
    }

    #bibiquote
    {
        font-size: 10rem;
        height: 100% !important;   
    }



}


@media only screen and (max-width: 600px) 
{
    .titolo2
    {
        font-size: 2rem;
        
    }

    .svg-onboarding
    {
        bottom: 427px !important;
        width: 100% !important;
    }

    .riga-contatti
    {
        flex-direction: column-reverse;
    }

    #cartello_work-with-us
    {
        position: static !important;  
        margin-top: 100px;
        box-shadow: 10px 10px 1px var(--persian-green) !important;
        border: 5px solid var(--charcoal);
        width: 250px;
     
    }

    #titolo-cartello-work
    {
        font-size: 1.5rem !important;
    }
    


    #onda-statistiche
    {
    top: -20px;
    }



    #paragrafo-beautiful
    {
        font-size: 1.2rem;
    }

    #onda-statistiche
    {
        top: -20px !important;
    }


    

  }
  
  
  
  
  
@media only screen and (min-width: 600px) 
{
    #box-post
    {
        background: url('/img/blob1e.svg');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position:center;    
    }

    #box-ragazza-cellulare
    {
        height: 640px !important;
    }
    


    #container-welcome
    {
        min-height: 650px;
    }

    #riga-welcome
    {
        min-height: 650px;
    }
    
}


@media only screen and (max-width: 600px) 
{
    #box-post
    {
        background: url('/img/blob1e-v.svg');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: top;
    }

   

    #col-testimonials
    {
        height: 242px;
    }

    #bibiquote
    {
        font-size: 5rem;
        
    }

    #paragrafo_testimonial
    {
        font-size: 1rem;
    }
    

    .josefin1
    {
        font-size: 12vw !important;
    }

    .josefin2
    {
        font-size: 7vw !important;
    }

    .josefin4
    {
        font-size: 3.8vw !important;
    }

    #box-ragazza-cellulare
    {
        height: 377px !important;
    }

    #Onboarding
    {
        display: block !important;
    }

    #container-dettaglio
    {
        margin-top: 43px !important;
    }

}




@media only screen and (max-width: 375px) 
{
    #box-testimonianze-small
    {
        background: url('/img/onda3s.svg');
        width: 100%;
        height: 100%;
    
        background-size: contain;
        background-repeat: no-repeat; 
    }

    #box-grazie
    {
        background: url('/img/blob-thankyou-s.svg');
        width: 100%;
        height: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 98px !important;
        

    }

    #paragrafo-grazie
    {
        font-size: 1.4rem;
        padding-right: 40px;
        padding-left: 40px;
    }

    #tasto-thankyou-back
    {
        font-size: 1rem;
    }

    #freccia-sellers
    {
        left: -41px !important;
    }

    #form-contatti
    {
        padding-right: 0px !important;
    }

    #Onboarding
    {
        display: block !important;
    }

    #box-contatti
    {
        margin-top: 240px !important;
    }

    #col-ecommerce
    {
        min-height: 342px;
    }

    .label-categorie
    {
       
       font-size: 4vw; 
       padding-top: 1px;
       
    }


    #box-brands
    {
        height: 30vh;
    }


    #item-ricerca-dati
    {
        border-left: none !important;
        border-top: 1px solid var(--persian-green) !important;
    }

    .avviso-sovraimpresso 
    {
        font-size: 4vw;
    }

    #tasto-chat
    {
        height: 50px;
        width: 50px;
        right: 3%;
        font-size: 1.5rem;
    }

}
