/* selettore pagina della paginazione di Laravel 9 */

/* tasto normale */
a.page-link
{
    background-color: var(--charcoal) !important;
} 

 /* tasto attivo  */
li.page-item.active>span.page-link
{
    background-color: var(--burnt-sienna) !important;
    border: 1px solid var(--maize-crayola) !important;
} 

/* tasto disattivato */
li.page-item.disabled>span.page-link
{
    background-color: var(--maize-crayola) !important;
}

/* FINE selettore pagina della paginazione di Laravel 9 */