html, body 
{     
    height: 100%; 
}

body 
{ 
    display: flex; flex-direction: column; 
    
}

main 
{ 
    flex-grow: 1; 
}

/* impostazione generali  */

a
{
    text-decoration: none;
    transition: 0.4s !important;
}




a#dropdown_categorie:hover
{
    /* color: var(--burnt-sienna) !important; */
}

a#dropdown_utente:hover
{
    /* color: var(--burnt-sienna) !important; */
}


.navbar a
{
    text-decoration: none;
    
    padding: 0px;
}

/* Unvisited link  */
a 
{
    
    padding: 0px;
}         

/* paginator */

a.page-link
{
    color: var(--maize-crayola) !important;
}

.dropdown-menu.show {
    display: block;
    background-color: var(--burnt-sienna);
}

b
{
    margin: 0px !important;
    padding: 0px !important;
}

/* fine impostazioni generali */

/* footer */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}









.bp1
{
    border: 3px solid yellow;
}

.bp2
{
    border: 3px solid lime;
}

.bp3
{
    border: 3px solid rgb(1, 153, 255);
}

.bp4
{
    border: 3px solid rgb(255, 0, 225);
}

.titolo1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}


.titolo2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}






a.dropdown-item
{
    padding-left: 0px;
}

#navbar-brand-container
{
    
    
    height: 40px;
}

.sparisci
{
    
    opacity: 0 !important;
    transition: 0.5s;
    
}



#avviso
{
    
    /* transition: 0.8s; */
    z-index: 999999;
    height: 60px;
    background-color: transparent;
    opacity: 0;
    top: -33px;
}

.avviso-sovraimpresso 
{
    width: 80%; 
    border-radius: 15px; 
    border: 1px solid var(--maize-crayola); 
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    font-size: 2vw;

    
}


.compari
{
    opacity: 1 !important;
    transition: 0.5s !important;
}



/* navbar */
/* dropdown */

/* a.dropdown-item
{
    color: black !important;
}

a.dropdown-item:hover
{
    color: var(--maize-crayola) !important;
    background-color: var(--charcoal) !important;
} */

.icona-bootstrap-social
{
    font-size: x-large;
    transition: 0.4s;
}

.icona-bootstrap-social:hover
{
    font-size: xx-large;
    color: var(--burnt-sienna);
}

.icona-risposta
{
    font-size: x-large;
}

.box-revisione
{
    border-radius: 15px;
}

.bottone-risposta
{
    height: 40px; 
    width: 80px;
    border-radius: 10px;
}

.paragrafo-annuncio-numero
{
    height:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--charcoal);
    
}

.btn-risposta
{
    box-shadow: none !important;
}

.btn-locale 
{
    color: white;
    box-shadow: none !important;
    background-color:    var(--charcoal);
    z-index: 999 !important;
    border-radius: 0px !important;
    transition: 0s;
}

.btn-locale:hover
{
    color: var(--maize-crayola) !important;
    background-color: var(--charcoal) !important;
}

/* .dropdown-item 
{
    color: var(--charcoal) !important;
} */

.dropdown-item:hover
{
    color: var(--maize-crayola) !important;
    background-color: var(--charcoal) !important;
}

.dropdown-item          
{
    color: var(--charcoal) !important;
}

a.nav-link, a.navbar-brand
{
    color: white !important;
}

.rounded-1rem
{
    border-radius: 1rem !important;
    
}

.shadow1px
{
    box-shadow: 3px 3px 1px black;
    
}

a.link-categorie
{
    color: var(--persian-green) !important;
}

a.link-categorie:hover
{
    color: var(--burnt-sienna) !important;
}

#etichette
{
    font-size: 0.8rem;
}


#price::-webkit-inner-spin-button, 
#price::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
}


.cartello
{
    background-color: var(--maize-crayola);
    border: 10px solid var(--charcoal);
    /* box-shadow: 0px 20px 1px var(--burnt-sienna); */
    padding: 15px;
    color: var(--charcoal);
    padding-right: 50px;
    font-weight:bolder;
}

#cartello_last_announcement
{
    margin-top: 0px;
}

#cartello-no-announcements
{
    margin-top: 220px;
}

#cartello-thankyou
{
    box-shadow: 20px 20px 1px var(--burnt-sienna);
}


.sticky-box
{
    top: 58px;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
}


.immagine-annuncio-ricerca
{
    width: 100%;
    /* height: 100%; */
    border-radius: 15px;
}



.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--maize-crayola);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--maize-crayola);
    cursor: pointer;
}


.input-form
{
    border: 3px solid var(--maize-crayola);
    border-radius: 5px;
}

.input-form-work
{
    border: 3px solid var(--maize-crayola);
    border-radius: 5px;
}



#discover-bar
{
    background: url('/img/onda1e.svg');
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
}

#box-latest
{
    background: url('/img/onda2.svg');
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
}

#box-post
{
    background: url('/img/blob1e.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position:center;    
}

#box-testimonianze-large
{
    background: url('/img/onda3.svg');
    width: 100%;
    height: 757px;
    
    background-size: cover;
    background-repeat: no-repeat;
}

#box-testimonianze-small
{
    background: url('/img/onda3s.svg');
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat; 
}

.img-adaptive
{
    height: 100%;
    width: 100%;
}

.img-adaptive-height
{
    
    height:100%;
    
}

.mask1 
{
    -webkit-mask-image: url('/img/people/blob-people.svg');
    mask-image: url('/img/people/blob-people.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
    mask-size: contain;
    -webkit-mask-size: contain;
}

.mask1s 
{
    -webkit-mask-image: url('/img/people/blob-people-s.svg');
    mask-image: url('/img/people/blob-people-s.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
    mask-size: contain;
    -webkit-mask-size: contain;
}



#bibiquote
{
    font-size: 10rem;
}

#paragrafo_testimonial
{
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.paragrafo-testimonial-small
{
    font-size: 1rem;
    color: var(--charcoal);
    text-align: justify;
    text-justify: inter-word;
}


.nome-testimonial
{
    font-style: italic;
    font-size: 1.5rem;
    color: var(--charcoal);
}

#beautiful
{
    background: url('/img/beautiful.jpg');
    width: 100%;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:top;
}

#onda-statistiche
{
    top: -100px;
}

#paragrafo-beautiful
{
    font-size: 3rem;
    color: var(--maize-crayola);
    text-shadow: 2px 2px 1px var(--charcoal);
    /* text-shadow: 2px 0 0 var(--charcoal), -2px 0 0 var(--charcoal), 0 2px 0 var(--charcoal), 0 -2px 0 var(--charcoal), 1px 1px var(--charcoal), -1px -1px 0 var(--charcoal), 1px -1px 0 var(--charcoal), -1px 1px 0 var(--charcoal); */
}


a.footer-item
{
    color: var(--maize-crayola) !important;
}

a.footer-item-low
{
    color: white !important;
}

#box-grazie
{
    background: url('/img/blob-thankyou.svg');
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;

}

#paragrafo-grazie
{
    font-size: 2rem;
}


#tasto-thankyou-back
{
    font-size: 2rem;
}

#freccia-sellers
{
    
    
    animation-name: upper;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    
    
}

 @keyframes upper 
 {
    from
    {
        transform:translate(0px, 10px);
        
        

    }
    to
    {
        transform: translate(0px, -20px);
        
        

    }    
     
 }


 #form-contatti
 {

     padding-right: 5.5rem;
 }

 .label-categorie
 {
    bottom: 0px; 
    font-size: 2vw; 
    padding-top: 3px;
 }

 .bottone
 {
     border: none;
     transition: 0.4s;
     font-family: monospace !important;
 }

 .bottone:hover
 {
     transform:scale(1.1);
 }

 #box-brands
 {
     height: 600px;
 }

.paragrafo-item
{
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}



.nav-link-testo
{
    display: inline-block !important;
    position: relative !important;
    color: white !important;
}

.nav-link-testo:after
{
    content: '';
    position: absolute;
    width: 100%;
    
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link-testo:hover:after
{
    transform: scaleX(1);
    transform-origin: bottom left;

}


.box-contenuti > p
{
    margin-bottom: 0px !important;
}

#tasto-chat
{
    height: 120px; 
    width: 120px; 
    border-radius: 50%; 
    border: 5px solid var(--maize-crayola); 
    box-shadow: 5px 5px 0px var(--persian-green);
    transition: 0.4s;
    position: fixed; 
    right: 1%; 
    bottom: 2%; 
    z-index:9999; 
    font-size: 4rem;
}

#tasto-chat:hover
{
    transform: scale(1.1);
}